# initial directory
.vs
tetris.sln
versions

# build utility files
tetris/bin/intermediates
tetris/Debug
tetris/Release
tetris/x64

# Visual Studio utility files
tetris/tetris.vcxproj.filters
tetris/tetris.vcxproj
tetris/tetris.vcxproj.user

# garbage
tetris/tests
